body, html {
    padding: 0;
    margin: 0;
    overflow: visible;
    font-family: 'Raleway', sans-serif;
    height:100%;
    overflow: hidden;
}

@media (min-width:900px) {
    .mobile {
        display:none;
    }
    
    body {
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;
    }
    
    bg {
        background-image:url("../img/code-bg.jpeg");
    }
    
    .nav-container {
        width:100%;
        position:fixed;
        top:0;
        left:0;
        background-color:#202020;
        display:inline-flex;
    }

    .nav-elements {
        width:fit-content;
        margin:0;
        padding:0;
        position:absolute;
        right:0;
    }

    .nav-element {
        color:white;
        padding:1.1em 0.5em;
        display:inline-flex;
        font-size:1.25em;
        text-decoration: none;
    }

    .nav-elements:last-child {
        margin-right:1em;
    }

    .nav-title {
        width:fit-content;
        display:inline-flex;
        color:white;
        margin-left:1em;
        font-family: 'Poiret One', cursive;
    }

    .desktop {
        display:inherit;
    }
    
    .eye-grabber {
        width:fit-content;
        color:white;
        position:absolute;
        top: 0;
        bottom:0;
        margin:auto;
        height:fit-content;
    }
    
    .eye-grabber-title {
        margin:0;
        font-size:2.5em;
        width: fit-content;
    }
    
    .eye-grabber-subtitle {
        font-size:1.3em;
        width:fit-content;
    }
    
    .active {
        color:#888;
    }
    
    .nav-element:hover {
        text-decoration: underline;
    }
    
    .eye-grabber-logo {
        display:inline-flex;
        width:200px;
        height:200px;
        position:absolute;
        top:0;
        bottom:0;
        right:3em;
        margin:auto;
    }
    
    .eye-grabber-container {
        margin-top:25%;
        width:calc(100% - 10em);
        position:relative;
        left:5em;
        right:5em;
    }
    
    .learn-btn {
        display:block;
        color:white;
        width:fit-content;
        padding:1em;
        font-size: 1.4em;
        font-family: 'Poiret One', cursive;
        margin:0 auto;
        margin-top:calc(20% + 10em) ;
        background: tomato;
        text-decoration: none;
    }
    
    .learn-btn:hover { 
        background-color: #dd5236;
    }
}

@media (max-width:899px) {
    .desktop {
        display:none;
    }
    
    .nav-top {
        margin:0;
        width:100%;
        background-color:#202020;
        position:fixed;
    }    
    
    .nav-title {
        margin:0;
        margin-left:1em;
        padding:0.825em 0;
        color:white;
        font-family: 'Poiret One', cursive;
    }
    
    .nav-btn {
        margin: auto;
        display:inline-block;
        position:absolute;
        top:0;
        bottom:0;
        right:1em;
        height:35px;
    }
    
    .nav-btn-layer {
        width:30px;
        height:5px;
        background-color: white;
        margin:5px 0;
        transition: 0.4s;
    }
    
    .nav-btn-change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 9px);
        transform: rotate(-45deg) translate(-9px, 9px);
    }

    .nav-btn-change .bar2 {
        opacity: 0;
    }

    .nav-btn-change .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -6px);
        transform: rotate(45deg) translate(-5px, -5px);
    }
    
    .fullscreen-container {
        position:fixed;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color:#202020;
        overflow: hidden;
        
        /* Hide Until Changed by Navigation Button*/
        width:0;
        transition: 0.8s;
    }
    
    .overflow {
        overflow: hidden;
    }
    
    .nav-element {
        color:white;
        text-decoration: none;
        display:block;
        width:100%;
        text-align: center;
        font-size: 2em;
        padding:0.5em 0;
    }
    
    .fullscreen-container:first-child {
        padding-top: 5em;
    }
    
    .eye-grabber-container {
        margin:0;
        margin-top:25%;
        width:calc(100% - 5em);
        position:relative;
        left:2.5em;
        right:2.5em;
        padding:0;
    }
    
    .eye-grabber-title {
        color:white;
        font-size:2.5em;
    }
    
    .eye-grabber-subtitle {
        color:white;
        font-size:1.4em;
    }
    
    .learn-btn {
        display:block;
        color:white;
        width:fit-content;
        padding:1em;
        font-size: 1.4em;
        font-family: 'Poiret One', cursive;
        margin:0 auto;
        margin-top:3em;
        background: tomato;
        text-decoration: none;
    }
    
    .learn-btn:hover { 
        background-color: #dd5236;
    }
}